@use "sass:color";

/* Fonts */
$font-family-serif: "Georgia", "Times New Roman", serif;
$font-family-heading: 'Dancing Script', cursive;
$font-family-body: 'Montserrat', sans-serif;

/* Tipografia base */
$font-size-base: 16px;
$line-height-base: 1.5;

/* Colors */
$text-color: #333;
$heading-color: #190302;
$accent-color: #fff;

/* Breakpoints */
$mqMinWidth: 420px;
